/* Page */

header {
  margin: 0;
  display: flex;
  flex-direction: row;  
  justify-content: space-between;
  align-items: center;

  background: linear-gradient(to right, #1b5e20, #2e7d32);
  padding: 15px;
  top: 0;
}

body {
  font-family: Arial;
  background: linear-gradient(to right, #e8f5e9, #c8e6c9);
  text-align: center;
  margin: 0;
  padding: 0;
  
}




/* Main Title */
h1 {
  color: white;
  
}

/* Section Titles */
h2 {
  margin: 25px 0 10px;
  text-decoration: underline;
  color: #1b5e20;
}

/* Inputs */
input {
  padding: 10px;
  margin: 8px;
  border-radius: 10px;
  border: 1px solid #a5d6a7;
  width: 250px;
  background: #ffffff;
}

/* Buttons */
button {
  padding: 10px 18px;
  margin: 8px;
  border-radius: 10px;
  background: linear-gradient(to right, #2ecc71, #27ae60);
  color: white;
  cursor: pointer;
}

#logout{
  background: linear-gradient(to right, #c62828, #b71c1c);
}

#logout:hover {
  background: linear-gradient(to right, #b71c1c, #c62828);
}

button:hover {
  background: linear-gradient(to right, #27ae60, #1e8449);
}

/* User Info */
#userInfo {
  margin: 15px;
  line-height: 25px;
  color: #2e7d32;
  text-align: left;
  font-size: 30px;
}

/* Admin Panel */
#adminPanel {
  background: linear-gradient(to right, #ffffff, #e8f5e9);
  padding: 20px;
  margin: 20px auto;
  border-radius: 15px;
  width: 320px;
  text-align: center;
}

/* Event & Booking Boxes */
.box {
  background: linear-gradient(to right, #ffffff, #f1f8f4);
  margin: 15px auto;
  padding: 15px;
  border-radius: 15px;
  width: 320px;
  text-align: left;
  position: relative;
  line-height: 22px;
}

/* Containers */
#events, #bookings {
  margin-top: 20px;
}
/* Ticket Card */
.ticket {
  background: linear-gradient(to right, #2ecc71, #27ae60);
  color: white;
  margin: 15px auto;
  padding: 20px;
  border-radius: 15px;
  width: 320px;
  text-align: left;
  position: relative;
  line-height: 24px;
}

/* Ticket Title */
.ticket h3 {
  margin: 0 0 10px;
  text-decoration: underline;
}

/* Ticket Text */
.ticket p {
  margin: 5px 0 15px;
}

/* Ticket Button */
.ticket button {
  background: linear-gradient(to right, #1b5e20, #145a32);
  color: white;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
}